<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap6="http://schemas.microsoft.com/appx/manifest/uap/windows10/6"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap mp uap6 uap3">
  <!--xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"-->


  <Identity
    Name="51394DonaldHuang.25278BAA161A6"
    Publisher="CN=A96927A6-5367-45E4-BE34-72DC08D43FA1"
    Version="1.0.30.0" />

  <mp:PhoneIdentity PhoneProductId="eb5334e4-d04e-42af-abba-0d05705915a0" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>ms-resource:AppDisplayName</DisplayName>
    <PublisherDisplayName>Donald Huang</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="PresentVideoRecorder.App">
      <uap:VisualElements
        DisplayName="ms-resource:AppDisplayName"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="ms-resource:AppDescription"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="white"/>
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/></uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <!--<rescap:Capability Name="broadFileSystemAccess" />-->
    <Capability Name="internetClient" />
    <uap:Capability Name="videosLibrary"/>
    <uap6:Capability Name="graphicsCapture"/>
    <uap:Capability Name="picturesLibrary"/>
    <uap3:Capability Name="backgroundMediaPlayback"/>
    <uap:Capability Name="removableStorage"/>
    <uap:Capability Name="musicLibrary"/>
    <DeviceCapability Name="microphone"/>
    <DeviceCapability Name="webcam"/>
  </Capabilities>
</Package>